.componentContainer {
  display: flex;
  gap: 10px;
}

.shopContianer {
  display: block;
}

.journalContainer {
  display: block;
}

button {
  width: 355px;
  height: 60px;
  font-size: 18px;
  padding: 15px;
}

@media (max-width: 320px) {
  .componentContainer {
    flex-direction: column;
    gap: 10px;
  }
  button {
    max-width: 355px;
    height: 60px;
    font-size: 18px;
    padding: 15px;
  }
  /* iPhone, portrait 480x320 */
}
@media (max-width: 481px) {
  .componentContainer {
    flex-direction: column;
    gap: 10px;
  }
  button {
    max-width: 355px;
    height: 60px;
    font-size: 18px;
    padding: 15px;
  }
  /*smaller tablets */
}
@media (max-width: 641px) {
  .componentContainer {
    flex-direction: column;
    gap: 10px;
  }
  button {
    max-width: 355px;
    height: 60px;
    font-size: 18px;
    padding: 15px;
  }

  /*portrait iPad */
}
@media (max-width: 961px) {
  /*landscape iPad */
}

@media (max-width: 1025px) {
  /*laptops */
}
@media (max-width: 1281px) {
  /* desktops */
}
@media (max-width: 2000px) {
  /* desktops -large */
}
