.navButtons {
  all: unset;
}

.title {
  /*code for Nav bar code for making a list*/

  text-align: center;
  list-style: none;
  color: orangered;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
}

.mainnavlink {
  /*code for Nav bar code for making a list*/
  display: flex;
  text-align: center;
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 200px;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 90%;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 90%;
  }
}
@media (max-width: 481px) {
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 90%;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 300px;
  }

  /*smaller tablets */
}
@media (max-width: 641px) {
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 400px;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 400px;
  }
  /*portrait iPad */
}
@media (max-width: 961px) {
  /*landscape iPad */
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 600px;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 600px;
  }
}

@media (max-width: 1025px) {
  /*laptops */
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 600px;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 600px;
  }
}
@media (max-width: 1281px) {
  /* desktops */
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 600px;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 600px;
  }
}
@media (max-width: 2000px) {
  /* desktops - large */
  .title {
    /*code for Nav bar code for making a list*/

    text-align: center;
    list-style: none;
    color: orangered;
    width: 600px;
  }

  .mainnavlink {
    /*code for Nav bar code for making a list*/
    display: flex;

    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 9px;
    width: 600px;
  }
}
