.shopTitle {
  font-size: 36px;
  display: flex;
  justify-content: center;
  border: 3px solid green;
  max-width: 350px;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
}
@media (max-width: 481px) {
  /*smaller tablets */
  .shopTitle {
    width: 300px;
  }
}
@media (max-width: 641px) {
  .shopTitle {
    width: 400px;
  }

  /*portrait iPad */
}
@media (max-width: 961px) {
  .shopTitle {
    width: 600px;
  }

  /*landscape iPad */
}

@media (max-width: 1025px) {
  .shopTitle {
    width: 600px;
  }

  /*laptops */
}
@media (max-width: 1281px) {
  .shopTitle {
    width: 600px;
  }

  /* desktops */
}

@media (max-width: 2000px) {
  .shopTitle {
    width: 600px;
  }

  /* desktops - Large */
}
