.shopItemsTitle {
  cursor: pointer;
  border: solid;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  min-height: 2vh;
  max-width: 330px;
}

.shopItems {
  color: orangered;
}

.shopItemsContainer {
  text-align: center;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
}
@media (max-width: 481px) {
  /*smaller tablets */
}
@media (max-width: 641px) {
  .masterContainer {
    width: 400px;
  }

  /*portrait iPad */
}
@media (max-width: 961px) {
  .masterContainer {
    width: 600px;
  }

  /*landscape iPad */
}

@media (max-width: 1025px) {
  .masterContainer {
    width: 600px;
  }

  /*laptops */
}
@media (max-width: 1281px) {
  .masterContainer {
    width: 600px;
  }

  /* desktops */
}
@media (max-width: 2000px) {
  .masterContainer {
    width: 600px;
  }

  /* desktops -large */
}
